<!-- Shows the navigation menu bar -->
<div ng-include="'templates/navbarMenu.html'"></div>

<!-- Start of Attendance HTML Page -->
<div class="container mt-5">
	<div class="row">
		<div class="col-md-3">			
			<div class="card border-0">
			  <img 	class="card-img-top h-100" 
			  		src="resources/images/Fingerprint-PNG.png" 
			  		alt="Fingerprint Image">
			  <div class="card-body" ng-controller="clockController">
			    <div class="alert alert-success text-center" ng-model="currentTime">{{ currentTime | date : 'mediumTime' }}</div>
				<div class="alert alert-info text-center" ng-model="currentDate">{{ currentDate | date : 'longDate' }}</div>
			  </div>
			</div>			
		</div>
		<div class="col-md-9">
			<div class="card">
			  <div class="card-header bg-info text-white">
			  	{{employeeName}}, set your Attendance.
			  </div>			  
			  <div class="card-body mb-5 text-center">
				<div class="row mt-4">
					<div class="col">
						<button type="button" id="requestPassBtn" class="btn btn-warning btn-lg w-50" ng-click="requestPass()">Request Pass</button>
					</div>				
				</div>
				<div class="row mt-5">
					<input type="hidden" ng-model="timeInKey"/>
					<div class="col">
						<button type="button" id="timeInBtn" class="btn btn-success btn-lg w-75" ng-click="timeIn()"><strong>Time IN</strong></button>
					</div>
					<div class="col">
						<button type="button" id="timeOutBtn" class="btn btn-danger btn-lg w-75" ng-click="timeOut()"><strong>Time OUT</strong></button>
					</div>				
				</div>
			  </div>
			</div>
			
<!-- 			<div class="card mt-5"> -->
<!-- 			  <div class="card-header bg-info text-white"> -->
<!-- 			  	Request Passes Summary -->
<!-- 			  	<button type="button" class="btn btn-warning btn-sm float-right" ng-click="refresh()"> -->
<!-- 		          <span class="glyphicon glyphicon-refresh"></span> Refresh -->
<!-- 		        </button> -->
<!-- 			  </div> -->
<!-- 			  <div class="card-body"> -->
			  	<table class="table table-hover table-bordered mt-4">
				    <thead class="thead-dark">
				      <tr>
				        <th style="width: 30%;">Request Date</th>
				        <th style="width: 30%;">Status</th>
				        <th style="width: 40%;">Approver</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="request in requests">
				        <td>{{request.date | date : 'medium' }}</td>
				        <td>{{request.passStatus}}</td>
				        <td>{{request.approverName}}</td>
				      </tr>
				    </tbody>
				  </table>
<!-- 			  </div> -->
<!-- 			</div> -->
		</div>
	</div>
		
</div><!-- End of Container -->