<!-- Shows the navigation menu bar -->
<div ng-include="'templates/navbarMenu.html'"></div>

<!-- Start of Departments HTML Page -->
<div class="container mt-5">
	<div class="row">
		<div class="col-6">			
			<div class="card">
			  <div class="card-header bg-info text-white">
			  	Department Structure
			  </div>
			  <div class="card-body mt-1">
			    <form>
			    	<input type="hidden" ng-model="departmentId"/>
			    	<div class="form-group row">
					  <label for="deptCodeId" class="col-4 col-form-label pr-0">Department Code:</label>
					  <div class="col-8">
					    <input id="deptCodeId" type="text" class="form-control" ng-model="deptCodeModel"/>
					  </div>
					</div>
					<div class="form-group row">
					  <label for="deptNameId" class="col-4 col-form-label pr-0">Department Name:</label>
					  <div class="col-8">
					    <input id="deptNameId" type="text" class="form-control" ng-model="deptNameModel"/>
					  </div>
					</div>
				    <div class="form-group row">
				      <label for="deptMgrId" class="col-4 col-form-label pr-0">Department Manager:</label>
				      <div class="col-8">
					      <select class="form-control" id="departments" ng-model="deptMgrModel" 
					        ng-options="deptMgr.id as (deptMgr.firstName +' '+deptMgr.lastName) for deptMgr in deptManagersList">
						  </select>
					  </div>
					</div>
					<div class="form-group row">
				      <label for="techMgr1Id" class="col-4 col-form-label pr-0">Technical Manager 1:</label>
				      <div class="col-8">
					      <select class="form-control" id="techManagers1" ng-model="techMgr1Model"
					      	ng-options="techMgr.id as (techMgr.firstName +' '+techMgr.lastName) for techMgr in techManagersList">
						  </select>
					  </div>
					</div>
					<div class="form-group row">
				      <label for="techMgr2Id" class="col-4 col-form-label pr-0">Technical Manager 2:</label>
				      <div class="col-8">
					      <select class="form-control" id="techManagers2" ng-model="techMgr2Model"
						    ng-options="techMgr.id as (techMgr.firstName +' '+techMgr.lastName) for techMgr in techManagersList">
						  </select>
					  </div>
					</div>
					<div class="form-group row">
				      <label for="techMgr2Id" class="col-4 col-form-label pr-0">Technical Manager 3:</label>
				      <div class="col-8">
					      <select class="form-control" id="techManagers3" ng-model="techMgr3Model"
						    ng-options="techMgr.id as (techMgr.firstName +' '+techMgr.lastName) for techMgr in techManagersList">
						  </select>
					  </div>
					</div>
				  </form>
				  <button type="button" id="deleteBtn" class="btn btn-warning float-right ml-3 w-25" ng-click="delete()" ng-show="isShownFlag">Delete</button>
				  <button type="button" id="saveBtn" class="btn btn-warning float-right w-25" ng-click="save()" ng-show="isShownFlag">Save</button>
			  </div>
			</div>
		</div><!-- END OF FIRST COLUMN -->
		
		<div class="col-6">
		  <!-- DEPARTMENT LIST SUMMARY -->
		  <table class="table table-hover table-bordered">
		    <thead class="thead-dark">
		      <tr>
		        <th style="width: 20%;">Code</th>
		        <th style="width: 50%;">Department Name</th>
		        <th style="width: 30%;">Department Manager</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="department in departmentsList" ng-click="showInfo(department.id)">
		        <td>{{ department.deptCode }}</td>
		        <td>{{ department.deptName }}</td>
		        <td>{{ department.deptManager.firstName + " " + 
		        	   department.deptManager.lastName }}</td>
		      </tr>
		    </tbody>
		  </table>			  	
		</div>
	</div>
		
</div><!-- End of Container -->