<!-- Shows the navigation menu bar -->
<div ng-include="'templates/navbarMenu.html'"></div>

<!-- Start of Employee List HTML Page -->
<div class="container mt-5">
	<div class="row">		
	 <div class="card w-50">
	  <div class="card-header bg-info text-white">Search Filter</div>
	  <div class="card-body mt-1">
	    <form>
	    	<div class="form-group row">
			  <label for="employeeInfo" class="col-4 col-form-label pr-0">Employee ID / Name:</label>
			  <div class="col-8">
			    <input id="employeeInfo" type="text" class="form-control" ng-model="employeeInfoModel"/>
			  </div>
			</div>
		    <div class="form-group row">
		      <label for="workDetailsInfo" class="col-4 col-form-label pr-0">Work Details:</label>
		      <div class="col-4">
			      <select class="form-control" id="departments" ng-model="departmentModel"
				    ng-options="dept.id as dept.deptCode for dept in departmentsList">
				  </select>
			  </div>
			  <div class="col-4">
				  <select class="form-control" id="teams" ng-model="teamModel"
				    ng-options="team.id as team.projectName for team in teamsList">
				  </select>
			  </div>
			</div>
		  <button type="button" id="searchBtn" class="btn btn-warning float-right" ng-click="search()">Search</button>
		</form>
	  </div>
	 </div>
		
	 <!-- TEAMS LIST SUMMARY -->
	 <table class="table table-hover table-bordered mt-4">
	   <thead class="thead-dark">
	     <tr>	
	       <th style="width: 10%;" ng-click="orderByThis('employeeInfo.id')">ID</th>
	       <th style="width: 20%;" ng-click="orderByThis('employeeInfo.firstName')">Employee Name</th>
	       <th style="width: 25%;" ng-click="orderByThis('department.id')">Department</th>
	       <th style="width: 15%;" ng-click="orderByThis('team.id')">Team</th>
	       <th style="width: 20%;" ng-click="orderByThis('employeeInfo.departmentRole')">Role</th>
	       <th style="width: 10%;">Action</th>
	      </tr	>
	    </thead>
	    <tbody>
	      <tr ng-repeat="employee in employeesList | orderBy : orderBySelected">
	        <td>{{ employee.employeeInfo.id }}</td>
	        <td>{{ employee.employeeInfo.firstName + " " + employee.employeeInfo.lastName }}</td>
	        <td>{{ employee.department.deptName }}</td>
	        <td>{{ employee.team.projectName }}</td>
	        <td>{{ employee.employeeInfo.departmentRole }}</td>
	        <td><a href="" ng-click="viewEmployeeInfo(employee.employeeInfo.id)">View</a></td>
	      </tr>
	    </tbody>
	  </table>			  	
	</div>
		
</div><!-- End of Container -->