<!-- Shows the navigation menu bar -->
<div ng-include="'templates/navbarMenu.html'"></div>

<!-- Start of Attendance Logs List HTML Page -->
<div class="container mt-5">
	<div class="row">
		
	 <label for="departmentId" class="col-form-label">Monthly Period:</label>
     <select class="form-control w-25 ml-2" id="calendar" ng-model="calendarModel"
	 	ng-options="month for month in calendar">
	 </select>
		
	 
	 <!-- Attendance Logs LIST SUMMARY -->
	 <div style="overflow-x:auto;">
	 <table class="table table-hover table-bordered table-sm table-responsive-sm mt-4">
	   <thead class="thead-dark">
	     <tr>	
	       <th style="width: 5%;" rowspan="2" ng-click="orderByThis('id')">ID</th>
	       <th style="width: 10%;" rowspan="2" ng-click="orderByThis('employee.firstName')">Employee Name</th>
	       <th style="width: 10%;" rowspan="2" ng-click="orderByThis('employee.department.id')">Department</th>
	       <th style="width: 10%;" colspan="2" class="text-center" ng-repeat="day in monthDates">{{day}}</th>
	     </tr>
	     <tr>
	       <th style="width: 5%;" class="text-center" ng-repeat="subcol in subColumns track by $index">{{subcol}}</th>
	     </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="employee in calendarLogs">
	        <td>{{ employee.employeeInfo.id }}</td>
	        <td>{{ employee.employeeInfo.firstName + " " + employee.employeeInfo.lastName }}</td>
	        <td>{{ employee.employeeInfo.department.deptCode }}</td>
			<td class="text-center" ng-repeat="log in employeeLogs(employee.employeeInfo.id) track by $index">
				{{ log }}
			</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  
	  			  	
	</div>
		
</div><!-- End of Container -->