<nav class="navbar navbar-expand-sm bg-success navbar-dark">
<div class="container">
	<ul class="navbar-nav mr-auto" ng-controller="titleController">
      <li class="nav-item">
      	<a class="navbar-brand" href="#!attendance">{{title}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!attendance">Attendance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!logs">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!passes">Request Passes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!departments">Departments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!teams">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!employees">Employees</a>
      </li>
	</ul>
	<ul class="navbar-nav">
      <li class="nav-item col-sm-2 text-right">
        <a class="nav-link" href="#!logout">Logout</a>
      </li>
	</ul>
</div>
</nav>