<!-- Shows the navigation menu bar -->
<div ng-include="'templates/navbarMenu.html'"></div>

<!-- Start of Request Passes HTML Page -->
<div class="container mt-5">
	<div class="row">
		<div class="col-6">			
			<div class="card">
			  <div class="card-header bg-info text-white">Search Filter</div>
			  <div class="card-body mt-1">
			    <form>
			    	<div class="form-group row">
					  <label for="employeeInfo" class="col-4 col-form-label pr-0">Employee ID / Name:</label>
					  <div class="col-8">
					    <input id="employeeInfo" type="text" class="form-control" ng-model="employeeInfoModel"/>
					  </div>
					</div>
				    <div class="form-group row">
				      <label for="workDetailsInfo" class="col-4 col-form-label pr-0">Work Details:</label>
				      <div class="col-4">
					      <select class="form-control" id="departments" ng-model="departmentModel"
						    ng-options="dept.id as dept.deptCode for dept in departmentsList">
						  </select>
					  </div>
					  <div class="col-4">
						  <select class="form-control" id="teams" ng-model="teamModel"
						    ng-options="team.id as team.projectName for team in teamsList">
						  </select>
					  </div>
					</div>
				  </form>
				  <button type="button" id="searchBtn" class="btn btn-warning float-right" ng-click="search()">Search</button>
			  </div>
			</div>
			
			<!-- EMPLOYEE LIST -->
			<table class="table table-hover table-bordered mt-4">
		    <thead class="thead-dark">
		      <tr>
		        <th style="width: 15%;">ID</th>
		        <th style="width: 30%;">Name</th>
		        <th style="width: 20%;">Department</th>
		        <th style="width: 20%;">Team</th>
		        <th style="width: 15%;">Role</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="employee in employeeList" ng-click="showRequestPasses(employee.employeeInfo.id)">
		        <td>{{employee.employeeInfo.id}}</td>
		        <td>{{employee.employeeInfo.firstName + " " +
		        	  employee.employeeInfo.lastName }}
	        	</td>
		        <td>{{employee.department.deptName}}</td>
		        <td>{{employee.team.projectName}}</td>
		        <td>{{employee.employeeInfo.departmentRole}}</td>
		      </tr>
		    </tbody>
		  </table>	
		</div><!-- END OF FIRST COLUMN -->
		
		<div class="col-6">
		  <!-- REQUEST PASSES SUMMARY FOR EACH SELECTED EMPLOYEE -->
		  <table class="table table-hover table-bordered">
		    <thead class="thead-dark">
		      <tr>
		        <th style="width: 40%;">Request Date</th>
		        <th style="width: 30%;">Pass Status</th>
		        <th style="width: 30%;">Approver</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="request in requestsList">
		        <td>{{request.date | date : 'medium' }}</td>
		        <td><div ng-switch="request.passStatus">
		        	<div ng-switch-when="PENDING">
	        			<a href="" ng-click="approveRequest(request.id)" ng-show="isShownFlag">Approve</a>
	        			<div ng-show="isShownFlag"> | </div> 
	        			<a href="" ng-click="rejectRequest(request.id)" ng-show="isShownFlag">Reject</a>
	        			<div ng-show="!isShownFlag">{{request.passStatus}}</div>
		        	</div>
		        	<div ng-switch-default>{{request.passStatus}}</div>
		        	</div>
	        	</td>
		        <td>{{request.approverName}}</td>
		      </tr>
		    </tbody>
		  </table>			  	
		</div>
	</div>
		
</div><!-- End of Container -->