<!-- Shows the navigation menu bar -->
<div ng-include="'templates/navbarMenu.html'"></div>

<!-- Start of Employee Profile HTML Page -->
<div class="container mt-5">
  <div class="row">
	  <div class="col-6">
		
		<!-- START OF EMPLOYEE DETAILS CARD -->
		<div class="card">
		  <div class="card-header bg-info text-white">Employee Details</div>
		  <div class="card-body mt-1">
	    	<div class="form-group row">
			  <label for="employeeId" class="col-4 col-form-label pr-0">Employee ID:</label>
			  <div class="col-8">
			    <input id="employeeId" type="text" class="form-control" ng-model="employeeIdModel" disabled/>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="lastNameId" class="col-4 col-form-label pr-0">Last Name:</label>
			  <div class="col-8">
			    <input id="lastNameId" type="text" class="form-control" ng-model="lastNameIdModel"/>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="firstNameId" class="col-4 col-form-label pr-0">First Name:</label>
			  <div class="col-8">
			    <input id="firstNameId" type="text" class="form-control" ng-model="firstNameIdModel"/>
			  </div>
			</div>
		  </div>	
		</div><!-- END OF EMPLOYEE DETAILS CARD -->
		
		<!-- START OF PERSONAL DETAILS CARD -->
	  <div class="card mt-4">
	  	<div class="card-header bg-info text-white">Personal Details</div>
	  	<div class="card-body mt-1">
			<div class="form-group row">
			  	<label for="addressId" class="col-4 col-form-label pr-0">Address:</label>
				  	<div class="col-8">
				   	<input id="addressId" type="text" class="form-control" ng-model="addressModel"/>
				</div>
			</div>
			<div class="form-group row">
			  	<label for="birthdayId" class="col-4 col-form-label pr-0">Birthday:</label>
			  	<div class="col-8">
			    	<input id="birthdayId" type="date" class="form-control" ng-model="birthdayModel"/>
			  	</div>
			</div>
		</div>
	  </div><!-- END OF PERSONAL DETAILS CARD -->		
  	  </div><!-- END OF COLUMN -->

	  <!-- START OF NEW COLUMN -->
	  <div class="col-6">
	  
	  <!-- START OF UPDATE PASSWORD CARD -->
		<div class="card">
	  	  <div class="card-header bg-info text-white">Update Password</div>
	  	  <div class="card-body mt-1">
	    	<div class="form-group row">
			  	<label for="currentPassword" class="col-4 col-form-label pr-0">Current Password:</label>
			  	<div class="col-8">
			    	<input id="currentPassword" type="password" class="form-control" ng-model="currentPasswordModel" disabled/>
			  	</div>
			</div>
			<div class="form-group row">
			  <label for="newPasswordId" class="col-4 col-form-label pr-0">New Password:</label>
			  <div class="col-8">
			    <input id="newPasswordId" type="password" class="form-control" ng-model="newPasswordModel"/>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="confirmPasswordId" class="col-4 col-form-label pr-0">Confirm Password:</label>
			  <div class="col-8">
			    <input id="confirmPasswordId" type="password" class="form-control" ng-model="confirmPasswordModel"/>
			  </div>
			</div>
		  </div>	
		</div><!-- END OF UPDATE PASSWORDS CARD -->
	  	  
	  <!-- START OF WORK DETAILS CARD -->
	  <div class="card mt-4 mb-3">
	  	<div class="card-header bg-info text-white">Work Details</div>
	  	<div class="card-body mt-1">
			<div class="form-group row">
				<label for="departmentId" class="col-4 col-form-label pr-0">Department:</label>
			    <div class="col-8">
					<select class="form-control" id="departmentId" ng-model="departmentIdModel"
						ng-options="dept.id as dept.deptName for dept in departmentsList">
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="departmentRoleId" class="col-4 col-form-label pr-0">Department Role:</label>
			    <div class="col-8">
					<select class="form-control" id="departmenRoletId" ng-model="departmentRoleModel"
						ng-options="role for role in departmentRolesList">
					</select>
				</div>
			</div>
		</div>
	  </div><!-- END OF WORK DETAILS CARD -->
	  
	  <button type="button" id="deleteBtn" class="btn btn-warning float-right ml-3 w-25" ng-click="delete()" ng-show="isShownFlag">Delete</button>
	  <button type="button" id="saveBtn" class="btn btn-warning float-right w-25 mb-4" ng-click="save()" ng-show="isShownFlag">Save</button>
	  
	  </div>
  </div>
		
</div><!-- End of Container -->