<nav class="navbar navbar-expand-sm bg-success navbar-dark">
<div class="container">
	<ul class="navbar-nav mr-auto" ng-controller="titleController">
      <li class="nav-item">
      	<a class="navbar-brand" href="#">{{title}}</a>
      </li>
	</ul>
</div>
</nav>

<div class="container mt-5 pl-5 pr-5">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmployeeId" class="sr-only">Employee ID</label>
    <input type="text" id="inputEmployeeId" class="form-control w-50" placeholder="Employee ID" ng-model="loginId" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control mt-3 w-50" placeholder="Password" ng-model="loginPassword" required>
    <button class="btn btn-lg btn-primary btn-block mt-3 w-50" type="submit" ng-click="login()">Sign in</button>
  </form>

</div> <!-- /container -->