<!-- Shows the navigation menu bar -->
<div ng-include="'templates/navbarMenu.html'"></div>

<!-- Start of Teams HTML Page -->
<div class="container mt-5">
	<div class="row">
		<div class="col-6">		
		  <form>	
			<div class="card">
			  <div class="card-header bg-info text-white">Team Structure</div>
			  <div class="card-body mt-1">
		    	<input type="hidden" ng-model="teamId"/>
		    	<div class="form-group row">
			      <label for="deptId" class="col-4 col-form-label pr-0">Department:</label>
			      <div class="col-8">
				      <select class="form-control" id="departments" ng-model="deptModel" 
				        ng-options="dept.id as dept.deptName for dept in departmentsList">
					  </select>
				  </div>
				</div>
				<div class="form-group row">
				  <label for="projectNameId" class="col-4 col-form-label pr-0">Project Name:</label>
				  <div class="col-8">
				    <input id="projectNameId" type="text" class="form-control" ng-model="projectNameModel"/>
				  </div>
				</div>
				<div class="form-group row">
			      <label for="techMgrId" class="col-4 col-form-label pr-0">Technical Manager:</label>
			      <div class="col-8">
				      <select class="form-control" id="techMgrId" ng-model="techMgrModel"
				      	ng-options="techMgr.id as (techMgr.firstName +' '+techMgr.lastName) for techMgr in techManagersList">
					  </select>
				  </div>
				</div>
				<div class="form-group row">
			      <label for="teamLeaderId" class="col-4 col-form-label pr-0">Team Leader:</label>
			      <div class="col-8">
				      <select class="form-control" id="teamLeaderId" ng-model="teamLeaderModel"
					    ng-options="teamLdr.id as (teamLdr.firstName +' '+teamLdr.lastName) for teamLdr in teamLeadersList">
					  </select>
				  </div>
				</div>
			  </div>
			</div><!-- END OF TEAM STRUCTURE CARD -->
			<div class="card">
			  <div class="card-header bg-info text-white">Team Members</div>
			  <div class="card-body mt-1">
				  <div class="form-group row">
				    <label for="employeeId" class="col-4 col-form-label pr-0">Employee Name:</label>
				    <div class="col-8">
					    <select class="form-control" id="employeeId" ng-model="employeeModel"
						    ng-options="employee.id as (employee.firstName +' '+employee.lastName) for employee in teamMembersRoleList">
						</select>
					</div>
				  </div>
				  <button type="button" id="addMemberBtn" class="btn btn-warning float-right w-25 mb-4" ng-click="addMember()">Add</button>
				  
				  <!-- TEAM MEMBERS LIST SUMMARY -->
				  <table class="table table-hover table-bordered">
				    <thead class="thead-dark">
				      <tr>
				        <th style="width: 15%;">ID</th>
				        <th style="width: 45%;">Member Name</th>
				        <th style="width: 30%;">Action</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="member in teamMembersList">
				        <td>{{ member.id }}</td>
				        <td>{{ member.firstName + " " + member.lastName }}</td>
				        <td><a href="" ng-click="viewMemberInfo(member.id)">View</a> | 
	        				<a href="" ng-click="removeMember(member.id)" ng-show="isShownFlag">Remove</a>
	        			</td>
				      </tr>
				    </tbody>
				  </table>				  
				  <button type="button" id="deleteBtn" class="btn btn-warning float-right ml-3 w-25" ng-click="delete()" ng-show="isShownFlag">Delete</button>
				  <button type="button" id="saveBtn" class="btn btn-warning float-right w-25" ng-click="save()" ng-show="isShownFlag">Save</button>
			  </div>
			</div>
		  </form>
		</div><!-- END OF FIRST COLUMN -->
		
		<div class="col-6">
		  <!-- TEAMS LIST SUMMARY -->
		  <table class="table table-hover table-bordered">
		    <thead class="thead-dark">
		      <tr>	
		        <th style="width: 20%;" ng-click="orderByThis('department.deptCode')">Department Code</th>
		        <th style="width: 50%;" ng-click="orderByThis('projectName')">Project Name</th>
		        <th style="width: 30%;" ng-click="orderByThis('members.member.firstName')">Team Leader</th>
		      </tr	>
		    </thead>
		    <tbody>
		      <tr ng-repeat="team in teamsList | orderBy : orderBySelected" ng-click="showInfo(team.id)">
		        <td>{{ team.department.deptCode }}</td>
		        <td>{{ team.projectName }}</td>
		        <td><div ng-repeat="member in team.members | filter : {'departmentRole' : 'Team Leader'}">
		        	{{ member.firstName + " " + 
		        	   member.lastName }}
		        	</div>
		       	</td>
		      </tr>
		    </tbody>
		  </table>			  	
		</div>
	</div>
		
</div><!-- End of Container -->